div.b-foto
div.b-info
  div.b-info__name#name= name
  label.b-info__label(for='#dep')= dep_lab
  div.b-info__div#dep= dep
  label.b-info__label(for='#post')= post_lab
  div.b-info__div#post= post
  label.b-info__label(for='#phone')= phone_lab
  div.b-info__div#phone= phone
  label.b-info__label(for='#email')= email_lab
  div.b-info__div#email= email

  div.b-button= edit